body {
  width: 375px;
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: auto;
}

/* Start Plate */
.platebackground {
  height: 100%;
  background: #99e2d0;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  -webkit-animation: platebackground 5s linear;
          animation: platebackground 5s linear;
  visibility: hidden;
}

.plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid transparent;
  border-top: 60px solid #99e2d0;
  border-bottom: 60px solid #ff79da;
  border-radius: 150%;
  width: 200px;
  height: 10px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: plate 2s linear;
          animation: plate 2s linear;
}

.plateinside {
  width: 300px;
  height: 100px;
  border-radius: 80%;
  background-color: white;
}

@-webkit-keyframes platebackground {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes platebackground {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes plate {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes plate {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}

/* END Plate */
/* START HEADER */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
  margin: auto;
  -webkit-box-shadow: 0px 5px 19px #999;
          box-shadow: 0px 5px 19px #999;
  height: 50px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  max-width: 162px;
  margin-top: 25px;
  margin-bottom: 15px;
  margin: auto;
}

#logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* END HEADER */
/* START LOCATION */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d0d1d154;
  width: 335px;
  height: 20px;
  margin: auto;
  padding: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .fa-location-dot {
  padding: 3px 15px;
}

.textlocation {
  font-size: 20px;
}

/* END LOCATION */
/* START ARTICLE */
article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background-color: #d0d1d12f;
  width: 375px;
  margin: auto;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  font-size: 20px;
  font-weight: 100;
}

.pinkbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 13px;
  opacity: 1;
  color: white;
  background-color: #ff79da;
  background: -webkit-gradient(linear, left top, left bottom, from(#af02ff), color-stop(10%), to(#d526de));
  background: linear-gradient(#af02ff, 10%, #d526de);
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 5px 19px #240a25;
          box-shadow: 0px 5px 19px #240a25;
  width: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.pinkbutton:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 30px 5px #ff79da;
          box-shadow: 0px 5px 30px 5px #ff79da;
}

/* END ARTICLE */
/* START NAV */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 350px;
  margin: auto;
}

.greybutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 60px;
  opacity: 1;
  font-weight: bold;
  color: black;
  background-color: #cbd6d61a;
  border-radius: 20px 20px 20px 20px;
  width: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.greybutton:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 30px 5px #ff79da;
          box-shadow: 0px 5px 30px 5px #ff79da;
}

.fa-mobile-screen-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-top: 8px;
}

.fa-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
  margin-top: 8px;
}

.fa-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
  margin-top: 8px;
}

.menunumber {
  background-color: #9356dc;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  margin-right: 320px;
  margin-top: -5px;
}

/* END NAV */
/* START MAIN */
.title {
  background-color: #f3f2f2;
  border: 1px solid #f3f2f2;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 378px;
  margin: auto;
  background-color: #f3f2f2;
  margin-bottom: 0px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  width: 350px;
  height: 300px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 20px #999;
          box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}

.menuimage {
  width: 350px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.menutext {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: bold;
}

.menutext2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 15px;
}

.fa-heart {
  color: #ffffff;
  position: absolute;
  margin-left: 300px;
  margin-top: -30px;
  cursor: pointer;
  border-radius: 50px;
}

.fa-heart:hover .fa-store {
  color: #9356dc;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: none;
}

.fa-heart::before {
  color: #000000;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: none;
}

.fa-heart:hover::before {
  color: #9356dc;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  fill: transparent;
}

.fa {
  background-color: white;
  color: black;
  position: absolute;
  padding: 3px 8px 3px 8px;
  margin-left: 300px;
  margin-top: -30px;
}

.fa:hover {
  color: black;
  background-color: white;
  padding: 3px 0px 0px 0px;
}

/* END MAIN */
/* START FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 318px;
  padding: 30px;
  background: #353535;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0px;
  margin: auto;
}

footer div {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#logofooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: -30px;
}

.fa-utensils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: -25px;
}

.fa-handshake-angle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: -25px;
}

.footertext {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 5px;
  color: white;
  margin-left: 20px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

/* END FOOTER */
/* START HEART */
.icon {
  fill: transparent;
  stroke: black;
  stroke-width: 10px;
  cursor: pointer;
  position: relative;
  margin-left: 300px;
  margin-top: -35px;
}

.icon svg {
  overflow: visible;
  width: 1.5rem;
}

.icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.icon .heart-background {
  display: none;
}

.icon .heart-main:hover path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
          animation: stroke-animation 2s ease-in-out forwards;
}

@-webkit-keyframes stroke-animation {
  100% {
    fill: #ff79da;
    stroke: #ff79da;
  }
}

@keyframes stroke-animation {
  100% {
    fill: #ff79da;
    stroke: #ff79da;
  }
}

/* END HEART */
/* START GREEN BOX */
.greenbox {
  width: 110px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  position: absolute;
  overflow: hidden;
  background-color: #9be4cc;
  margin-left: 225px;
  margin-top: 15px;
}

a {
  color: #188964;
  text-decoration: none;
}

/* END GREEN BOX */
@media (min-width: 560px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .location {
    width: 100%;
    padding: 0px;
    height: 40px;
  }
  form .fa-location-dot {
    padding: 2px 20px;
    margin-top: 10px;
  }
  .textlocation {
    margin-top: 10px;
  }
  form {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 55px;
  }
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  nav {
    width: 100%;
  }
  .greybutton {
    width: 50%;
  }
  main {
    width: 100%;
  }
  .menu {
    margin-left: 20px;
    margin-right: 20px;
  }
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0px;
  }
  .footertext {
    width: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  footer a {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 0px;
  }
}

@media (min-width: 353px) and (max-width: 559px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .location {
    width: 100%;
    padding: 0px;
    height: 40px;
  }
  form .fa-location-dot {
    padding: 2px 20px;
    margin-top: 10px;
  }
  .textlocation {
    margin-top: 10px;
  }
  form {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 55px;
  }
  h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  nav {
    width: 100%;
  }
  .greybutton {
    width: 50%;
  }
  main {
    width: 100%;
  }
  .menu {
    margin-left: 20px;
    margin-right: 20px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #logofooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .footertext {
    width: 270px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 40px;
  }
  footer a {
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 40px;
  }
}
/*# sourceMappingURL=index.css.map */