.icon {
  fill: transparent;
  stroke: black;
  stroke-width: 2;
  cursor: pointer;
  position: relative;

  svg {
    overflow: visible;
    width: 2rem;
  }

  path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
  }

  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;

  }

  .heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
  }

  .heart-main:active path {
    animation: stroke-animation 2s ease-in-out forwards;
  }

}

@keyframes stroke-animation {

  100% {
      fill:#d526de;
      stroke: none;
  }

}