body {
  border: 1px solid rgb(94, 255, 0);
  width: auto;
  height: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border: 0px solid rgb(94, 255, 0);
  justify-content: center;
}

article {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border: 0px solid rgb(94, 255, 0);
  justify-content: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 350px;
  background-color: #f3f2f2;
  margin: auto;
}

.parent {
  background-color: rgba(255, 255, 255, 0.174);
  width: 350px;
  max-width: 162px;
}

.child-one {
  background-color: blanchedalmond;
  width: 350px; /*1*/
  height: 340px; /*1*/
}

.child-two {
  display: flex;
  background-color: #f3f2f2;
  position: absolute;
  top: 310px;
  height: 52px;
  width: 330px;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
}

.child-three {
  display: flex;
  width: 340px; /*1*/
  background-color: #f3f2f2;
  height: 20px;
  padding: 5px;
}

.menumenu {
  width: 330px; /*1*/
  height: 70px; /*1*/
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px #999; /*4*/
  border-radius: 20px;
}

.menutext {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: bold;
  padding-top: 10px;
}

.menutext2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 15px;
}

.menutext3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: -25px;
  margin-left: -20px;
  justify-content: right;
}

.pinkbutton {
  display: flex;
  justify-content: center;
  padding: 15px 13px;
  opacity: 1;
  font-weight: bold;
  color: white;
  background-color: #ff79da;
  border-radius: 20px 20px 20px 20px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin: auto;
}

.button {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 350px;
  background-color: #f3f2f2;
  margin: auto;
}

/* START FOOTER */

footer {
  display: flex;
  justify-content: left;
  width: auto;
  padding: 30px;
  background: #303030;
  flex-wrap: wrap;
  border: 0px solid rgb(255, 225, 0); /* border area */
  margin-top: 30px;
}

footer div {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#logofooter {
  display: flex;
  width: 100%;
  max-width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footertext {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

/* END FOOTER */
